@using HomeRentTracker.Models.FlatInfoEntity
@model FlatInformation
@{
    ViewBag.Title = "Flat Information Entry";
}

    <div class="row g-3">
        <div class="col-md-12">
            <h2 class="header-style">Flat Information Entry</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Create" method="post">
                <div class="row g-3">
                    <div class="form-group floating-label col-md-3">                       
                        <input asp-for="RoadNo" class="form-control input-small" placeholder="" />
                        <label asp-for="RoadNo" class="control-label"></label>
                        <span asp-validation-for="RoadNo" class="text-danger"></span>
                    </div>
                    <div class="form-group floating-label col-md-3">
                        <input asp-for="BlockNo" class="form-control input-small" placeholder="" />
                        <label asp-for="BlockNo" class="control-label"></label>
                        <span asp-validation-for="BlockNo" class="text-danger"></span>
                    </div>
                    <div class="form-group floating-label col-md-3">
                        <input asp-for="BuildingNo" class="form-control input-small" placeholder="" />
                        <label asp-for="BuildingNo" class="control-label"></label>
                        <span asp-validation-for="BuildingNo" class="text-danger"></span>
                    </div>

                    <div class="form-group floating-label col-md-3">
                        <input asp-for="FlatNo" class="form-control input-small" placeholder="" />
                        <label asp-for="FlatNo" class="control-label"></label>

                        <span asp-validation-for="FlatNo" class="text-danger"></span>
                    </div>

                    <div class="form-group floating-label col-md-3">
                        <input asp-for="PlaceName" class="form-control input-small" placeholder="" />
                        <label asp-for="PlaceName" class="control-label "></label>

                        <span asp-validation-for="PlaceName" class="text-danger"></span>
                    </div>

                    <!-- Cascading Dropdowns -->

                    <div class="form-group floating-label col-md-3">
                        <select asp-for="CountryId" class="form-control input-small" id="CountryId" asp-items="Model.Countries">
                            <option value="">-- Select Country --</option>
                        </select>
                        <label asp-for="CountryId"></label>

                    </div>

                    <div class="form-group floating-label col-md-3">
                        <select asp-for="DivisionId" class="form-control input-small" id="DivisionId">
                            <option value="">-- Select Division --</option>
                        </select>
                        <label asp-for="DivisionId"></label>

                    </div>

                    <div class="form-group floating-label col-md-3">
                        <select asp-for="DistrictId" class="form-control input-small" id="DistrictId">
                            <option value="">-- Select District --</option>
                        </select>
                        <label asp-for="DistrictId"></label>

                    </div>

                    <div class="form-group floating-label col-md-3">
                        <select asp-for="SubDistrictId" class="form-control input-small" id="SubDistrictId">
                            <option value="">-- Select SubDistrict --</option>
                        </select>
                        <label asp-for="SubDistrictId"></label>
                    </div>
                    <div class="form-group floating-label col-md-3">
                        <select asp-for="PostOfficeId" class="form-control input-small" id="PostOfficeId">
                            <option value="">-- Select PostOffice --</option>
                        </select>
                        <label asp-for="PostOfficeId"></label>
                    </div>
                    <div class="form-group floating-label col-md-3">
                        <button type="submit" value="Save" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#CountryId').change(function () {
            var countryId = $(this).val();
            $('#DivisionId').empty().append('<option>Loading...</option>');
            $.get('/FlatInfo/GetDivisions?countryId=' + countryId, function (data) {
                $('#DivisionId').empty().append('<option value="">-- Select Division --</option>');
                $.each(data, function (i, item) {
                    $('#DivisionId').append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            });
        });

        $('#DivisionId').change(function () {
            var divisionId = $(this).val();
            $('#DistrictId').empty().append('<option>Loading...</option>');
            $.get('/FlatInfo/GetDistricts?divisionId=' + divisionId, function (data) {
                $('#DistrictId').empty().append('<option value="">-- Select District --</option>');
                $.each(data, function (i, item) {
                    $('#DistrictId').append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            });
        });

        $('#DistrictId').change(function () {
            var districtId = $(this).val();
            $('#SubDistrictId').empty().append('<option>Loading...</option>');
            $.get('/FlatInfo/GetSubDistricts?districtId=' + districtId, function (data) {
                $('#SubDistrictId').empty().append('<option value="">-- Select SubDistrict --</option>');
                $.each(data, function (i, item) {
                    $('#SubDistrictId').append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            });
        });

        $('#SubDistrictId').change(function () {
            var subDistrictId = $(this).val();
            $('#PostOfficeId').empty().append('<option>Loading...</option>');
            $.get('/FlatInfo/GetPostOffices?subDistrictId=' + subDistrictId, function (data) {
                $('#PostOfficeId').empty().append('<option value="">-- Select PostOffice --</option>');
                $.each(data, function (i, item) {
                    $('#PostOfficeId').append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            });
        });
    </script>
}
