
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
@*     <title>@ViewData["Title"] - Flat Rent Tracker</title>
 *@    <link href="~/lib/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlatRentTracker.styles.css" asp-append-version="true" />
@*     <link href="~/lib/fontawesome/all.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/fontawesome.min.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden; /* Prevent double scroll */
        }

        /* Fixed header height */
        header {
            height: 58px;
            bottom: 0;
            padding-bottom: 0;
        }
        /* Fixed footer height */
        footer {
            height: 60px;
        }

        .layout-container {
            position: fixed;
            top: 50px; /* header height */
            bottom: 60px; /* footer height */
            left: 0;
            right: 0;
            display: flex;
        }

        .sidebar {
            width: 250px;
            background-color: #f8f9fa;
            overflow-y: auto;
        }

        .content-area {
            flex-grow: 1;
            overflow-y: auto;
            padding: 1rem;
        }

        .fx-l {
            top: 0px;
        }
    </style>

</head>
<body>
    <div id="headerContainer">
        @await Html.PartialAsync("_HeaderPartial")
    </div>
    <div class="wrapper">
        <div class="sidebar">
            @await Html.PartialAsync("_Sidebar")
        </div>
        <div class="content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer text-muted fixed-bottom bg-light border-top">
        <div class="container text-center">
            &copy; <label>2025</label> - Home Rent Tracker
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_LoginModal", new HomeRentTracker.Models.LoginEntity.LoginViewModel())


</body>
</html>