@using HomeRentTracker.Models.RenterEntity

@* _MemberForm.cshtml (Partial) *@
@model MemberInfo

<div class="form-group">
    <label asp-for="MemberName"></label>
    <input asp-for="MemberName" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="MemberAge"></label>
    <input asp-for="MemberAge" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="MemberPhone"></label>
    <input asp-for="MemberPhone" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="MemberEmail"></label>
    <input asp-for="MemberEmail" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="MemberNID"></label>
    <input asp-for="MemberNID" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="MemberAddress"></label>
    <input asp-for="MemberAddress" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="MemberProfession"></label>
    <input asp-for="MemberProfession" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="RenterID"></label>
    <input asp-for="RenterID" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="RenterNID"></label>
    <input asp-for="RenterNID" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="RelationWithRenter"></label>
    <input asp-for="RelationWithRenter" class="form-control" />
</div>
