@using HomeRentTracker.Models.RenterEntity
@using HomeRentTracker.Models.Enumation
@model MemberInfo
<title></title>
@{
    ViewData["Title"] = "Member Entry";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="header-style">Member Info</h2>
            <form asp-action="Create" asp-controller="Member">
                <div class="row g-1">
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="MemberName" class="form-control input-small" placeholder="" />
                        <label asp-for="MemberName"></label>
                    </div>
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="MemberAge" class="form-control input-small" value="0" placeholder="" />
                        <label asp-for="MemberAge"></label>
                    </div>
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="MemberPhone" class="form-control input-small" placeholder="" />
                        <label asp-for="MemberPhone"></label>

                    </div>
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="MemberEmail" class="form-control input-small" placeholder="" />
                        <label asp-for="MemberEmail"></label>

                    </div>
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="MemberNID" class="form-control input-small" placeholder="" />
                        <label asp-for="MemberNID"></label>

                    </div>
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="MemberAddress" class="form-control input-small" placeholder="" />
                        <label asp-for="MemberAddress"></label>
                    </div>
                    @*     <div class="form-group floating-label col-sm-3">
                        <input asp-for="MemberProfession" class="form-control input-small" placeholder=""/>
                        <label asp-for="MemberProfession"></label>

                    </div> *@   
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="GuardianID" class="form-control input-small" placeholder="" />
                        <label asp-for="GuardianID"></label>
                    </div>
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="GuardialNID" class="form-control input-small" placeholder="" />
                        <label asp-for="GuardialNID"></label>

                    </div>
                    <div class="form-group floating-label col-sm-3">
                        <input asp-for="RelationWithGuardian" class="form-control input-small" placeholder="" />
                        <label asp-for="RelationWithGuardian"></label>
                    </div>
                    <div class="form-group floating-label col-sm-3">
                        <select asp-for="MemberProfession"  asp-items="Html.GetEnumSelectList<Profession>()" class="input-small" required></select>
                        <label asp-for="MemberProfession">Profession</label>
                    </div>

                    <div class="floating-label col-sm-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

 