<h1>Register New User</h1>
<form asp-action="RegisterNew" method="post">
    <div>
        <label >User Name</label>
        <input  type="text" name="userName" />
    </div>
    <div>
        <label>User Email</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>